# Target data directory paths on QMI drive
unconverted_data_dir="[...]/1-Unconverted_Data"
converted_data_dir="[...]/2-Converted_Data"
processed_data_dir="[...]/3-Output"

# Path for PSD processing notebook and venv Python executable
psd_python_binary_path="[...]/thunderbird_psd/.venv/bin/python"
psd_program_path="[...]/thunderbird_psd/active_notebooks/Reactor Data Time Binning Notebook.py"

# Path to store overrides in - will overwrite an existing file!
overrides_file_path="[...]/thunderbird_daq_automation/data/overrides.pkl"